

<% flash.each do |key, value| %>
    <h4><%= value %></h4>
<% end %>
<div class="homepage_container">
<img id="home_photo" alt="Icon" src="/assets/tony.jpg" />
<!-- <img id="home_photo" alt="Icon" src="/assets/isaac.jpg" /> -->
<div>


