/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
  *= require_tree .
 *= require_self
 */

 /*this to align the drop down box*/
#topright_nav, #topright_nav ul{
  z-index: 1001;
  position: absolute;
  text-align: right;
  float: right;
  width: 100%;
  padding-right: 3%;
  list-style-type: none;
  list-style-position: outside;
  position: relative;
}
#topright_nav ul li a{
  font-size: 0.3em;
  border-bottom: 1px black solid;
  padding: 0px;
}
 #topright_nav a:link, #topright_nav a:active, #topright_nav a:visited{
    padding:0px 5px;
    color: #0062c3;
    text-decoration:none;
 }

#topright_nav a:hover{
    background-color:#fff;
    color:#333;
}

#topright_nav li{
    float:right;
    position:relative;
}
#topright_nav ul {
    position:absolute;
    width:12em;
    top:1.5em;
    display:none;
}
#topright_nav li ul a{
    width:12em;
    float:left;
}
#topright_nav ul ul{
  top:auto;
  }

#topright_nav li ul ul {
    left:12em;
    margin:0px 0 0 10px;
    }

#topright_nav li:hover ul ul, #topright_nav li:hover ul ul ul, #topright_nav li:hover ul ul ul ul{
    display:none;
    }
#topright_nav li:hover ul, #topright_nav li li:hover ul, #topright_nav li li li:hover ul, #topright_nav li li li li:hover ul{
    display:block;
    }


.nav {
  width: 62%;
  height: 2%;
}
/*this is the class that i had the nav bar set to before i made the dropdowns*/
#my_new_nav li{
  float: left;
  text-align: center;
  margin-left: 20%;
  margin-top: -5%;
  position: relative;
  list-style: none;
  z-index: 2;
  width: 19%;
  margin: -0.07%;
  /*margin-left: -0.6%;*/
}

div.tab {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 1;
}
.dropdown_nav {
  position: absolute; 
  float:left;
  display: none;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

div a{
    padding: 10px;
    display: block;
    white-space: nowrap;
}
/*this code is to style the colored tabs for the top nav bar
/*this is li tab taht holds entire nav option*/
/*div.tab {
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 10px;
    z-index: -1;
    padding: 20px 10px;

}*/
/*.tab div{
    padding: 10px;
    background-color: #1E4b55;
    display: block;
    white-space: nowrap;
}*/
/*div.menu-item {
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: -1;
    padding: 20px 10px;
}*/
/*

/*nav li ul { 
  position: absolute;
  text-decoration: none;
  display: none;
  margin: -1%;
  padding: 0;
  width: 100%;
  float:left;
  }

nav li:hover ul {
    opacity: 1;
    top: 50px;
    visibility: visible;
}

nav li ul li {
    float: none;
    width: 100%;
}
nav li ul a:hover {
    background: #bbb;
}

#my_new_nav ul li div{ 
  float:left; 
  display: block;
  margin: 0;
  padding: 5px 10px;
  width: 100%;
  white-space: nowrap;
  text-decoration: none;
  background: #EAEBD8;
  font-size: 1em;
  min-width: 500%;
}*/

 /* #my_new_nav div a:hover
  { background: #49A3FF;
    color: #FFF}*/
#green {
  background-color: #2cd301;
}

#purple{
  background-color: #872fdf;
}

#orange {
  background-color: #ff5001;
}

#blue{
  background-color: #0071e0;
}

#pink {
  background-color: #f448c2;
}

/*this is the image that is the main title image throigh out the entire site*/
.footy_logo_img{
  width: 100%;
  margin-top: -12%;
  z-index: 1;
}


body.container-fluid{
  width: 100%;
  padding: 0;
  
  
  }

/*.dad-navbar{

background-color: white;
}


a.navbar-brand{
  color: black;
  &:hover {
         color: black;
       }
  font-size: 2em;
  line-height: 18px;
  font-weight: 700;
  
  
}

.navbar-nav>li>a{

  color: black;
    &:hover {
         color: rgb(0, 136, 255);
       }
  font-size: 1em;
  line-height: 18px;
  font-weight: 700;
  

}


 .dropdown-menu{
  text-align: center;
 }*/

 .col-xs-6 {
  float: left;
 }

 .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}


/*.feed_container{
  text-align: center;
}*/

.container-fluid, .navbar .nav-links {
font-family: 'Michroma', sans-serif;
}

.feed_row {
  width: 100%;
  margin-left: 5px;
  margin-top:5px;
 
 /* text-align: center;*/
}

.feed_post {
    
    background: white;
    width: 32.15%; 
    height: 337px;
    display: inline-block;
    outline: none;
    margin: 5px;


    
   
}

.landing-page {

  background: black;
}
span.glyphicon.glyphicon-cog{
  width: 20px;
  
}

h1.jumbotron{
  background-color: white;
}
ul.dropdown-menu{
  text-align: right;
}


/*@media screen and (max-width: 568px) {

.feed_container{
  padding-left: 20px;
  }
}*/

@media screen and (max-width: 600px) {

.feed_post{
  height:100%;
  width:100%;
  min-width: 325px;
  min-height: 310px;
  margin-left: 0;
margin:0;

  }
}
@media screen and (max-width: 375px) {

.navbar{
  min-width: 325px;
  padding: 0;
  
  }
}

@media screen and (max-width: 375px) {

body.container-fluid{
  width: 100%;
  padding: 0;
  
  }
}



/*this below is for the background gipf.*/
/*body.container-fluid{

  background-image: url(image-path("giphy.gif"));
  background-size: 100%;
  background-repeat: repeat;
}
*/