
.home_background{
	position: absolute;
	margin-top: -20%;
}

#forward{
	z-index: 999;
	position: absolute;
	margin-top: 18%;


}
.go_home{
  width:100%;
  border:2px solid white;
  background-color: transparent;
 text-align: center;
 font-size: 1vw;
 padding: 1%;
  color: white;
    &:hover {
         color: #337ab7;
       }

}